<br />
<form id="newForm" action="/add" method="POST">
    <input type="text" name="newdata" placeholder="Фамилия, имя, отчество  Телефон" />
</form>
<br />
<button onclick="document.getElementById('newForm').submit();">Добавить</button>
{{#discardBtn}}{{/discardBtn}}
<script>
    let elements = document.getElementsByTagName('a');
    for (element of elements) {
        element.removeAttribute('href');
    }
</script>